* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;;
}

.header .container {
  margin: 0 auto;
  width: 100%;
}

.header .nav {
  color:#FFFFFF;
  background-color: #004481;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
  padding: 1.2rem 0;
  margin: 0 auto;
}

.header .nav-logo {
 margin: 0 0rem 0rem 2rem;
 max-width: 70%;
}

.header .nav-menu{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 10px;
}

.header .nav-menu__item {
  display: flex;
  justify-content: center;
}

.header .nav-menu__link {
  margin: 0 2rem 0 0;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
  color: #FFFFFF;
}

.main .main-text{
  color:#004481;
  font-size: 2.5rem;
  padding: 2rem 2rem 0rem 4rem;
}
.main .sub-main-text{
  color:#004481;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0rem 0rem 0rem 4rem;
}


.main .products {
  margin-top: 2rem;
  font-family: 'Open Sans', sans-serif;;
}

.main .products .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem;
  width: auto;
}

.main .products .card-1 {
  padding: 2rem;
  background: #ffffff;
  color: #1873B9;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 250px;
  width: auto;
}
.main .products .card {
  padding: 2rem;
  background: #000000;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 2rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 250px;
  width: auto;
}

.main .products .card-image {
padding-right: 1rem;
}

.main .products .card-image img {
  max-height: 10rem;
  height: 100%;
  width: auto;
}

.main .products .card-text {
  margin-top: 1.5rem;
}

.main .products .card-1 .card-text__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: inherit;
  text-transform: uppercase;
  color: #004481;
  margin-bottom: 1rem;
}

.main .products .card-1 .card-text__subs1 {
  color: #004481;
  margin-left: 4rem;
}

.main .products .card .card-text__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: inherit;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 1rem;
}

  .card-4 {
  padding: 3rem 0rem;
  margin: 2rem 4rem 2rem 4rem;;
  background: #ffffff;
  color: #1873B9;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: auto;
  width: auto;
}

.card-4 .card-text4{
  font-size: 3rem;
  font-weight: 600;
  line-height: 5rem;
  padding-left: 2rem;
  text-transform: uppercase;
  color: #004481;
}

.card-4 .card-text4 .span4{
  font-weight: 700;
} 

.card-4 .card-submit{
  background-color: #004481;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  padding: 16px 120px;
  text-decoration: none;
  margin: 24px 32px;
  cursor: pointer;
} 


.footer {
  margin-top: 5rem;
  padding: 3rem 0;
  background: #CDDBE8;
  color: #ffffff;
}

.footer .container {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .footer-menu{
  margin-left: 2rem;
  padding-left: 3rem;
  color: #004481;
}

.footer .footer-menu p{
  font-size: 2rem;
  font-weight: bold;
}


.footer-menu__item2{
  color: #004481;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
}

.footer-menu__link {
  margin: 0.5rem 2rem 0 0;
  font-family: inherit;
  font-size: 1rem;
  color: #004481;
}

.footer-menu__icon {
  margin: 0.5rem 2rem 0 0;
  height: 3.5rem;
}

.footer-copy{
  font-size: 2rem;
  font-weight: 500;
  padding: 6rem 4rem 0rem 0rem;

}

  
/* RESPONSIVE CON MEDIA QUERY 
@media only screen and (max-width: 600px) {
  .header .nav {
    flex-direction: column;
    justify-content: center;
  }

  .header .hero {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 5rem;
  }

  .header .hero-text {
    order: 2;
    font-size: 1.2rem;
  }

  .footer .container {
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-menu__item {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    margin-bottom: 2rem;
  }

  .footer-menu__link {
    margin: 0 1rem 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #ffffff;
  }
}
 */


